h1, h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
}

h2 {
    text-align: left;
    font-size: 28px;
}

.details {
    background-color: aliceblue;
}

li {
    font-weight: 100;
}

p {
    color: grey;
    font-size: 24px;
    font-style: italic;
}

img {
    align-items: center;
    height: 300px;
    width: auto;
}